button {
    background-color: red;
    color: white;
    height: 10em;
    width: 20em;
    
}

body{
    background-color: blue;
}

.die {
    background-color: yellowgreen;
    text-align: center;
    border-radius: 1em;
    height: 10em;
    width: 10em;
    margin: 1em;
    display: inline-block;
    color: white;
     }
  